<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1920"
	maxImageHeight="1080"
	resizeOnImport="false"
	galleryTitle="Gallery"
	indexPageName="photography_gallery.html"

>
  <image imageURL="images/DSC_0675.jpg"
	thumbURL="thumbs/DSC_0675.jpg"
	linkURL="images/DSC_0675.jpg"
	linkTarget="_blank"
	sourcePath="H:\Google Drive\Public\Pictures\DSC_0675.jpg">
    <title><![CDATA[DSC_0675]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1648.jpg"
	thumbURL="thumbs/DSC_1648.jpg"
	linkURL="images/DSC_1648.jpg"
	linkTarget="_blank"
	sourcePath="H:\Google Drive\Public\Pictures\DSC_1648.jpg">
    <title><![CDATA[DSC_1648]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4352.jpg"
	thumbURL="thumbs/DSC_4352.jpg"
	linkURL="images/DSC_4352.jpg"
	linkTarget="_blank"
	sourcePath="E:\D3200 Pictures\100D3200\Untitled Export\DSC_4352.jpg">
    <title><![CDATA[DSC_4352]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4328.jpg"
	thumbURL="thumbs/DSC_4328.jpg"
	linkURL="images/DSC_4328.jpg"
	linkTarget="_blank"
	sourcePath="H:\Google Drive\Public\Pictures\DSC_4328.jpg">
    <title><![CDATA[DSC_4328]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3820.jpg"
	thumbURL="thumbs/DSC_3820.jpg"
	linkURL="images/DSC_3820.jpg"
	linkTarget="_blank"
	sourcePath="H:\Google Drive\Public\Pictures\DSC_3820.jpg">
    <title><![CDATA[DSC_3820]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3783.jpg"
	thumbURL="thumbs/DSC_3783.jpg"
	linkURL="images/DSC_3783.jpg"
	linkTarget="_blank"
	sourcePath="H:\Google Drive\Public\Pictures\DSC_3783.jpg">
    <title><![CDATA[DSC_3783]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0275.jpg"
	thumbURL="thumbs/DSC_0275.jpg"
	linkURL="images/DSC_0275.jpg"
	linkTarget="_blank"
	sourcePath="H:\Google Drive\Public\Pictures\DSC_0275.jpg">
    <title><![CDATA[DSC_0275]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>