<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1920"
	maxImageHeight="1080"
	resizeOnImport="true"
	galleryTitle="Gallery"
	indexPageName="photography_gallery.html"
	useFullscreenExpand="false"
	showOpenButton="false"

>
  <image imageURL="images/DSC_0675 (1624 x 1080).jpg"
	thumbURL="thumbs/DSC_0675 (1624 x 1080).jpg"
	linkURL="images/DSC_0675 (1624 x 1080).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\David\Desktop\New folder (2)\DSC_0675 (1624 x 1080).jpg">
    <title><![CDATA[DSC_0675]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1648 (1841 x 1080).jpg"
	thumbURL="thumbs/DSC_1648 (1841 x 1080).jpg"
	linkURL="images/DSC_1648 (1841 x 1080).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\David\Desktop\New folder (2)\DSC_1648 (1841 x 1080).jpg">
    <title><![CDATA[DSC_1648]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4352 (1316 x 1080).jpg"
	thumbURL="thumbs/DSC_4352 (1316 x 1080).jpg"
	linkURL="images/DSC_4352 (1316 x 1080).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\David\Desktop\New folder (2)\DSC_4352 (1316 x 1080).jpg">
    <title><![CDATA[DSC_4352]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4328 (1624 x 1080).jpg"
	thumbURL="thumbs/DSC_4328 (1624 x 1080).jpg"
	linkURL="images/DSC_4328 (1624 x 1080).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\David\Desktop\New folder (2)\DSC_4328 (1624 x 1080).jpg">
    <title><![CDATA[DSC_4328]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3820 (1624 x 1080).jpg"
	thumbURL="thumbs/DSC_3820 (1624 x 1080).jpg"
	linkURL="images/DSC_3820 (1624 x 1080).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\David\Desktop\New folder (2)\DSC_3820 (1624 x 1080).jpg">
    <title><![CDATA[DSC_3820]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_3783 (1475 x 1080).jpg"
	thumbURL="thumbs/DSC_3783 (1475 x 1080).jpg"
	linkURL="images/DSC_3783 (1475 x 1080).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\David\Desktop\New folder (2)\DSC_3783 (1475 x 1080).jpg">
    <title><![CDATA[DSC_3783]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0275 (1624 x 1080).jpg"
	thumbURL="thumbs/DSC_0275 (1624 x 1080).jpg"
	linkURL="images/DSC_0275 (1624 x 1080).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\David\Desktop\New folder (2)\DSC_0275 (1624 x 1080).jpg">
    <title><![CDATA[DSC_0275]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>