<!--

    Partial template.

-->

<h1>{{ homeCtrl.message }}</h1>
<div>
    PRAGIM Established in 2000 by 3 S/W engineers offers a very cost effective training. PRAGIM Speciality in training
    areas unlike other training institutes.
</div>
<ul>
    <li>Training delivered by real time software eperts having more than 10 years of experience.</li>
    <li>Realtime project discussion relating to the possible interview questions.</li>
    <li>Trainees can attend training and use lab until you get a job.</li>
    <li>Resume preparation and mock up interviews.</li>
    <li>100% placement assistance.</li>
    <li>Lab facility.</li>
</ul>