<!--

    Partial template.

-->

<h1>Student Details</h1>

<table style="border:1px solid black">
    <tr>
        <td>ID</td>
        <td>{{ studentsDetailsCtrl.student.id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ studentsDetailsCtrl.student.name }}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{ studentsDetailsCtrl.student.gender }}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{ studentsDetailsCtrl.student.city }}</td>
    </tr>
</table>
<a href="students">Back to Students list</a>