/*------------------------------------*\
    RESET
\*------------------------------------*/

*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

.wrapper {
	max-width:1280px;
	margin:0 auto;
}
.header {
	padding:15px 25px;
	background:#FFF;
	border-left:5px solid #2BA6CB;
	overflow:hidden;
}
.logo {
	float:left;
}
.demo-nav {
	float:right;
	margin:12px 0;
	list-style:none;
}
.demo-nav-link {

}
.demo-nav-link a {
	color:#2BA6CB;
	text-decoration:none;
}

/*---------------------------------------

html {
    height: 100%;
    width: 100%
    color: black;
}

body {
    font-family: "Ubuntu";
    font-size: 16px;
    color: white;
}

h1 {
    padding-top: 50px;
    font-size: 250%;
    text-align: center;
    text-shadow: 3px 3px #000000;
}

h2 {
    font-size: 150%;
    text-align: center;
}

label {
    font-size: 120%;
}

input {
    font-family: inherit;
}

p {
    font-size: 120%;
}

.contact {
    margin: 0 auto;
    width: auto;
    text-align: center;
}

.contact img {
    vertical-align: middle;
    padding-right: 20px;
}

.contact span {
    vertical-align: middle;
}

-------------------------------*/




/* Desktop navigation */

.nav {
  position:relative;
  display:inline-block;
  font-size:14px;
  font-weight:900;
}
.nav-list {

}
.nav-item {
  float:left;
  *display:inline;
  zoom:1;
}
.nav-item a {
  display:block;
  padding:15px 20px;
  color:#FFF;
  background:#34495E;
}
.nav-item:first-child a {
  border-radius:5px 0 0 5px;
}
.nav-item:last-child a {
  border-radius:0 5px 5px 0;
}
.nav-item a:hover {
  background:#2C3E50;
}

/* Mobile navigation */

.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	background:#34495E url(../img/nav.svg) no-repeat center center;
	height:40px;
	width:40px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

/* Media queries */

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:40px 0 0;
	}
	.nav-list {
		display:none;
	}
	.nav-item {
		width:100%;
		float:none;
	}
	.nav-item a {
		background:#34495E;
		padding:10px;
	}
	.nav-item:first-child a {
		border-radius:5px 0 0;
	}
	.nav-item:last-child a {
		border-radius:0 0 5px 5px;
	}
	.nav-active {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
}


/* Nagivation bar START
ul {
    position: fixed;
    list-style-type: none;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #85C1E9;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #6DB7E8;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFAC1C;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    background-color: #FFAC1C;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ECA01B
}

.dropdown:hover .dropdown-content {
    position: fixed;
    display: block;
}
/* Nagivation bar END */





/* Contact form START */

#contact-form {
    background-color: #85C1E9;
    color: black;
    width: 400px;
    padding: 20px;
    margin: 50px auto;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    position: relative;
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    margin-bottom: 2px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    display: block;
    width: 90%;
    border: 1px solid #6DB7E8;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 4px;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    background-color: #EBF2F4;
}

#contact-form textarea {
    height: 150px;
    resize: none;
}

#contact-form label {
    display: block;
}

#contact-form #submit-button {
    width: 25%;
    background-color: #FFAC1C;
    border: none;
    display: block;
    float: right;
    margin-bottom: 0px;
    margin-right: 6px;
    -moz-border-radius: 8px;
}

#contact-form #submit-button:hover {
    background-color: #ECA01B;
}

/* Remove box shadow firefox, chrome and opera put around required fields */
input:required, textarea:required {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

/* Normalize placeholder styles */

/* Chrome, Safari */
::-webkit-input-placeholder {
    color: #CCCCCC;
    font-style: italic;
}

/* Mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #CCCCCC;
    font-style: italic;
}

/* IE (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  {
    color: #CCCCCC;
    font-style: italic;
}

/* Contact form END */