body {
    font-family: "Ubuntu";
}

h1 {
    padding: 50px 0px 0px 0px;
    text-align: center;
}

/* Nagivation bar START */
ul {
    position: fixed;
    list-style-type: none;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #85C1E9;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #6DB7E8;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFAC1C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    background-color: #FFAC1C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ECA01B
}

.dropdown:hover .dropdown-content {
    position: fixed;
    display: block;
}
/* Nagivation bar END */

.contact {
    margin: 0 auto;
    width: auto;
    text-align: center;
}

.contact img {
    vertical-align: middle;
    padding-right: 20px;
}

.contact span {
    vertical-align: middle;
}