/*------------------------------------*\
    RESET
\*------------------------------------*/

*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html {
    height: 100%;
    width: 100%
    color: black;
}

body {
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family: "Ubuntu";
    font-size: 16px;
    color: white;
    text-shadow:1px 1px #000000;
}

h1 {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size:250%;
    text-align:center;
    text-shadow:3px 3px #000000;
}

/* only used in contact, create a class and move there */
h2 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 10px;
}

label {
    font-size:120%;
}

input {
    font-family: inherit;
}

p {
    font-size:120%;
}

a {
    color: inherit;
}

video {
    display: block;
    margin: 0 auto;
    width-max: 720px;
}

.a-contact {
    text-decoration: underline;
}

.img-circle {
    display: block;
    margin: 0 auto;
    border-radius:50%;
    width: 50%;
    max-width: 300px;
}

.video {
    width: 90%;
    max-width: 720px;
    display: block;
    margin: 0 auto;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}